<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <div class="header">
      <%= image_tag "beautiful_spam.png", class: "header--image" %>
    </div>
    <main></main>
    <%= javascript_pack_tag 'spam_index' %>
  </body>
</html>
