<header class="header">
  <h1 class="header--title">beautiful spam</h1>
</header>

<main></main>

<footer class="site--footer">
  <span class="site--footer-link"><a href="/about/">About</a></span>
</footer>

<%= javascript_pack_tag 'spam_index' %>
