<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>beautiful spam</title>
  </head>

  <body>
    <div class="header">
      <h1 class="header--title">beautiful spam</1>
    </div>
    <main></main>
    <%= javascript_pack_tag 'spam_index' %>
  </body>
</html>
