// Place all the styles related to the spam controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  padding: 0;
  margin: 0;
}

.header--title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 80pt;
  color: #FF99ED;
  text-align: center;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.about {
  background-color: #fff;
  position: absolute;
  top: 0;
}

.about--close {
  font-size: 12pt;
  text-align: right;
  font-family: arial;
}

.about--close__in-case-you-didnt-get-it {
  font-size: 30pt;
}

.about--text {
  font-size: 20pt;
  background-color: rgb(255, 245, 110);
}

.about--pink {
  color: #FF99ED;
}

.categories-spam-intro {
  flex: 1 0 auto;
  margin-left: 20px;
  width: 1000px;
  margin: 0 auto;
}

.categories {
  color: #000;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.categories li {
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 50pt;
}

.categories li:after {
  content: ', ';
}

.categories li:last-child:after {
  content: '';
}

.category--link {
  font-family: 'arial';
  color: #0000EE;
  text-decoration: none;
  font-weight: lighter;
}

.site--intro {
  display: flex;
  font-family: 'arial', sans-serif;
  font-size: 26pt;
  margin: 0 auto;
}

.site--intro-first {
  text-align: center;
}

.site--intro-second {
  text-align: center;
}

.site--intro-third {
  text-align: center;
}

.spam--content {
  font-family: 'arial';
  position: absolute;
  background: url('pink_blob_top.png') top no-repeat;
  top: 12%;
  left: 25%;
  width: 660px;
  height: 100%;
  z-index: 1;
}

.spam--middle {
  position: absolute;
  background-color: #FF99ED;
  top: 10%;
  width: 620px;
  padding: 20px;
}


.spam--title {
  font-family: 'times';
  font-weight: lighter;
  font-style: italic;
  font-size: 20pt;
  text-align: center;
}

.spam--body {
  font-weight: lighter;
  font-size: 11pt;
  white-space:pre-wrap
}

.spam--close {
  font-size: 50pt;
  text-align: right;
}

.spam--bottom {
  background: url('pink_blob_bottom.png') bottom no-repeat;
}

.site--footer {
  text-align: right;
}

.site--footer-link {
  font-family: 'arial', sans-serif;
  font-size: 30pt;
}
